@charset "UTF-8";


.banners1{
	background-color: #00F;
    padding: 5px;
}

.banners2{
 background-color: #00F;
    padding: 5px;
}

.menus1{
    background-color: #0FF;
    padding: 5px;
}
.footer1{
   
    padding-bottom: .1cm;
    background-color: #000;
    color: lightgray;
}


.Promo1{
    background-color: #0FF;
    
}

.Promo2{
    background-color: #FF6;
    
}

.Promo3{
    background-color:#030;
    
}

/* CSS Document */

